*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #36d1dc;
    background-image: linear-gradient(#36d1dc, #5b86e5);
}
#search{
    width: 50%;
    background-image: linear-gradient(#24838a, #4c7adf);
    box-shadow: 5px 7px 10px 0px #2c628a;
    border-radius: 5px;
    padding: 30px;
    
}
#search-form{
    display: flex;
    justify-content: center;
}
.search-input {
    width: 60%;
    border-radius: 10px;
    border-style: none;
    background: linear-gradient( #09606b, #183966);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0px 20px;
    outline: none;
}

.search-btn {
    border-radius: 10px;
    background: rgb(26, 26, 26);
    color: white;
    padding: 5px 15px;
    border-style: none;
}
#app-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.city{
    font-size: 2rem;
    margin: 10px;
    
}
.temp{
    font-size: 1.2rem;
    margin: 10px 0;
}
#temp-unit{
    font-size: 1.1rem;
    margin: 15px 0;
}
.desc{
    font-size: 1.1rem;
    margin: 10px 0;
}
.humidity{
    font-size: 1.1rem;
    margin: 10px 0;
}
.wind{
    font-size: 1.1rem;
    margin: 10px 0;

}

@media (max-width:768px) {


    #search-form{
        flex-wrap: wrap;

    }
    .search-input {
        width: 100%;

    }
    
    .search-btn {
        margin-top: 10px;

    }
    .city {
        font-size: 1.6rem;
    }



    
}
@media (max-width:500px){
    #search{
        width: 80%;
    }
    .city {
        font-size: 1.5rem;
    }
    .temp {
        font-size: 1.1rem;
    }
    .temp-unit {
        font-size: 1rem;
    }
    .desc {
        font-size: 1rem;
    }
    .humidity {
        font-size: 1rem;
    }
    .wind {
        font-size: 1rem;
    }
}



